@font-face {
    font-family: Poppins Regular;
    src: url(fonts/Poppins-Regular-400.ttf);
  }

@font-face {
    font-family: Poppins Medium;
    src: url(fonts/Poppins-Medium-500.ttf);
  }

@font-face {
    font-family: Poppins Semibold;
    src: url(fonts/Poppins-SemiBold-600.ttf);
  }

@font-face {
    font-family: Poppins Bold;
    src: url(fonts/Poppins-Bold-700.ttf);
  }

@font-face {
    font-family: Poppins ExtraBold;
    src: url(fonts/Poppins-ExtraBold-800.ttf);
  }


.fw-400 {
    font-family: 'Poppins Regular';
}

.fw-500 {
    font-family: 'Poppins Medium';
}

.fw-600 {
    font-family: 'Poppins Semibold';
}

.fw-700 {
    font-family: 'Poppins Bold';
}

.fw-800 {
    font-family: 'Poppins Extrabold';  
}



* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 0.3s ease-in-out;
}

body {
 font-family: 'Poppins Regular';
 background: rgb(146,207,255);
 background: linear-gradient(121deg, rgba(146,207,255,1) 7%, rgba(255,220,240,1) 71%, rgba(26,255,0,0.40379901960784315) 71%);
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
color: #343434;
padding-top: 50px;
}

h1 {
    font-size: 24px;
    color: white;
    text-align: center;
}

.inputValue {
    border-radius: 100px;
    padding: 10px;
    font-size: 14px;
    border: none;
    outline: none;
    padding-left: 20px;

    
}

.button {
    border-radius: 100px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #ff7d0a;
    border: none;
    margin-top: 5px;
    width: 60%;
}

.nameCity, .temp {
    font-size: 24px;
    color: white;
}

.nameCity {
    background-color: white;
    border-radius: 100px;
    color: #ff7d0a;
    padding: 10px 20px;
    margin-right: 20px;
}

p.desc {
    color: #ff7d0a;
    margin-bottom: 0px !important;
}

p.desc::first-letter {
    text-transform: uppercase;
}

.temp {
    line-height: 100px;
    margin-bottom: 0px !important;
    margin-block-end: 0px !important;
}

.iconWeather img {
    margin-top: -1em;
}

.ml-50 {
    margin-left: 50px;
}

.bg-white {
    border-radius: 100px;
}

.details {
    background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  padding: 20px;
  padding-top: 35px;
  margin-top: 40px;
  border-radius: 10px;
}


span {
    color: #ff7d0a;
}


@media (min-width: 768px) {
    h1 {
        font-size: 40px;
        text-align: start;
    }

    body {
        padding-top: 100px;
    }

    .inputValue {
        border-radius: 100px;
        padding: 22px;
        font-size: 18px;
        border: none;
        outline: none;
        padding-left: 30px;
    
        
    }

    .button {
        border-radius: 100px;
        padding: 15px 60px;
        font-size: 18px;
        font-weight: 700;
        color: white;
        background-color: #ff7d0a;
        margin-left: -198px;
        z-index: 2000;
        border: none;
        margin-top: 0px;
        width: auto;
    }

    .nameCity, .temp {
        font-size: 40px;
        color: white;
    }
    
    .nameCity {
        margin-right: 20px;
        background-color: white;
        border-radius: 100px;
        color: #ff7d0a;
        padding: 10px 20px;
    }
}